/* Estilos para noticias */
.noticias__contenedor {
    display: flex;
    flex-direction: column;
}
.noticia1__contenedor,
.noticia2__contenedor {
    display: flex;
    gap: 15px;
}
.img__noticias{
    width: 500px;
    height: auto;
}
.texto__noticia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.card--text {
    font-weight: 400;
    font-size: 15px;
}
.noticias__tablet {
    display: none;
}
.caja-btn {
    background-color: #14665B;
    color: white;
    &:hover {
        background-color: transparent;
        color: #14665B;
        font-weight: 600;
        border: solid 2px #14665B;
    }
}